# Compilados Java
*.class

# Logs
*.log

# Arquivos temporários
*.tmp
*.swp

# Pasta de build
target/
bin/
out/

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos de execução
*.jar